body {
    margin: 0;
}
#canvas-container {
    border: 3px solid purple;
}
.tool-panel {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    border-bottom: 3px solid purple;
}
.image-container {
    display: flex;
}
#canvas {
    cursor: crosshair;
    text-align: center;
}
#info-panel {
    padding: 1rem;
    width: 10%;
    border-right: 3px solid purple;
}
